body{
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222;
}
.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.f-info-links a{
    text-decoration: none;
}
.f-info-links a {
    text-decoration: underline;
}
.f-info-links ,.f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Cards */
.listing-card{
    border: none;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
}


.card-body{
    padding: 0 !important;
}
.card-body p{
    font-weight: 400;

}
.listing-link{
    text-decoration: none;
}
.listing-link:hover{
    box-shadow: 4px;
}
.card-img-overlay{
    opacity: 0;
}   
.card-img-overlay:hover{
    opacity: 0.1;
    background-color: white;
}
/* New Index */
.newBtn{
    border: none;
    background-color:#fe424d !important;
}
.newBtn:hover{
 opacity: 0.9;
}
.editBtn{
    border: none;
    background-color:#fe424d !important;
}
.editBtn:hover{
 opacity: 0.9;
}
/* Show Page */
.show-img{
    height: 30vh;
}